﻿@model BancariaSistemaKinal.Models.Cuenta

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cuenta</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCuenta.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCuenta.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaldoInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaldoInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numerodelacuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numerodelacuenta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
