﻿@model BancariaSistemaKinal.Models.Cliente

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Cliente</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellido, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido)
                @Html.ValidationMessageFor(model => model.Apellido)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion)
                @Html.ValidationMessageFor(model => model.Direccion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CorreoElectronico, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CorreoElectronico)
                @Html.ValidationMessageFor(model => model.CorreoElectronico)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TelefonoCasa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TelefonoCasa)
                @Html.ValidationMessageFor(model => model.TelefonoCasa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Celular, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Celular)
                @Html.ValidationMessageFor(model => model.Celular)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Referencia1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Referencia1)
                @Html.ValidationMessageFor(model => model.Referencia1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroReferencia1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroReferencia1)
                @Html.ValidationMessageFor(model => model.NumeroReferencia1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Referencia2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Referencia2)
                @Html.ValidationMessageFor(model => model.Referencia2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroReferencia2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroReferencia2)
                @Html.ValidationMessageFor(model => model.NumeroReferencia2)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
