﻿@model BancariaSistemaKinal.Models.Tarjeta

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tarjeta</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroTarjeta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroTarjeta)
                @Html.ValidationMessageFor(model => model.NumeroTarjeta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pin)
                @Html.ValidationMessageFor(model => model.Pin)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Creacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Creacion)
                @Html.ValidationMessageFor(model => model.Creacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Validez, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Validez)
                @Html.ValidationMessageFor(model => model.Validez)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Monto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Monto)
                @Html.ValidationMessageFor(model => model.Monto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Estado)
                @Html.ValidationMessageFor(model => model.Estado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoTarjetaID, "TipoTarjetaID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoTarjetaID", String.Empty)
                @Html.ValidationMessageFor(model => model.TipoTarjetaID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
